.DS_Store
/aosp
/android-sdk-cache
/build-scrcpy-server
/rpmbuild
/toolchain
*.lock
.*/settings.json
/lineageos-arm64
/lineageos-x86_64
/lineageos/src
/.cache
androguard.db-wal
androguard.db-shm
androguard.db
/base/.bazel_output_gfxstream_latest
cvd-phone-slim.tar
/.vscode
/tools/__pycache__
/lineageos/prebuilts/native_bridge/*
!/lineageos/prebuilts/native_bridge/.gitignore
!/lineageos/prebuilts/native_bridge/README.md

