Source: ika-scrcpy
Maintainer: Cuttlefish Team <cloud-android-ext@google.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 12),
               gcc,
               meson,
               ninja-build,
               pkgconf,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libswresample-dev,
               libsdl3-dev,
               libusb-1.0-0-dev,
               libvulkan-dev,
               libicu-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: ika-scrcpy
Architecture: amd64 arm64
Depends: ika-base,
         wayland-utils,
         ${shlibs:Depends},
         ${misc:Depends}
Description: scrcpy Android screen mirroring tool for Cuttlefish
 Contains scrcpy, a command-line Android screen mirroring and control tool,
 installed for use with Cuttlefish Android Virtual Devices under
 /usr/lib/cuttlefish-common.
